<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                View Article
            </h1>
        </div>
    </div>
</section>
<!-- main content -->
<div class="main-content">
    <div class="container">
        <section class="hero is-medium has-background">
            <img alt="YumYum" class="hero-background" src="https://artifact{{.Oper.Host}}download/{{.Data.ImageKey}}" />
            <div class="hero-body">
                <div class="container">
                    <h4 class="title is-4 has-text-white">{{.Data.Title}}</h4>
                    <h5 class="subtitle is-5 has-text-white">Author: {{.Data.WrittenBy}}</h5>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
            <div class="media-right">
                <h1 class="sharethis-inline-share-buttons is-5 has-text-left"></h1>
            </div>
        </section>
        <!-- main content -->
        
        <div class="content">
            {{.Data.Content | html}}
        </div>
    </div>
</div>
<!-- end of main content -->