<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Cars stock
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <table class="table is-fullwidth is-hoverable" id="dataTable">
        <thead>
            <tr>
                <th>Car Key</th>
                <th>Year model</th>
                <th>Mileage</th>
                <th>Licence Expiry</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Car Key</th>
                <th>Year model</th>
                <th>Mileage</th>
                <th>Licence Expiry</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            {{range $key, $val := .Data}}
            <tr>
                <td>{{$val.V.Entity.VehicleKey}}</td>
                <td>{{$val.V.Address.Year}}</td>
                <td>{{$val.V.Mileage}}</td>
                <td>{{$val.V.LicenceExpiry}}</td>
                <td>
                    <p class="buttons">
                        <a href="/stock/carsEdit/{{$val.V.K}}" class="button is-primary">
                            <span class="icon is-small">
                                <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <button data-key="{{$val.V.K}}" class="button is-danger deleter">
                            <span class="icon is-small">
                                <i class="fas fa-ban"></i>
                            </span>
                        </button>
                    </p>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</section>