RegionCode    string
	Name          string
	StartChar     string
	EndChar       string
<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle">
                {{ template "_shared/breadcrumbs.html" .}}
            </h2>
            <h1 class="title">
                Countries
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <table class="table is-fullwidth is-hoverable" id="dataTable">
        <thead>
            <tr>
                <th>region Code</th>
            </tr>
            <tr>
                <th>Name</th>
            </tr>
            <tr>
                <th>Start Character</th>
            </tr>
            <tr>
                <th>End Character</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>region Code</th>
            </tr>
            <tr>
                <th>Name</th>
            </tr>
            <tr>
                <th>Start Character</th>
            </tr>
            <tr>
                <th>End Character</th>
            </tr>
        </tfoot>
        <tbody>
            {{range $key, $val := .Data}}
            <tr>
                <td>{{$val.V.RegionCode}}</td>
                <td>{{$val.V.Name}}</td>
                <td>{{$val.V.StartChar}}</td>
                <td>{{$val.V.EndChar}}</td>
                <td>
                    <p class="buttons">
                        <a href="/countryEdit{{$val.V.K}}" class="button is-primary">
                            <span class="icon is-small">
                                <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <button data-key="/manufacturer{{$val.V.K}}" class="button is-primary">
                            <span class="icon is-small">
                                <i class="fas fa-ban"></i>
                            </span>
                        </button>
                    </p>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</section>