<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="../">Folio.API</a></li>
        <li class="is-active"><a href="#" aria-current="page">Profiles</a></li>
    </ul>
</nav>
<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Profiles
            </h1>
            <button class="button is-primary is-small" type="button" id="btnAddSite">Create new Profile</button>
        </div>
    </div>
</section>
<section class="section">
    <table class="table is-fullwidth is-hoverable" id="dataTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            {{range $key, $val := .Data}}
            <tr>
                <td>{{$val.V.Title}}</td>
                <td>{{$val.V.Description}}</td>
                <td>
                    <a href="/profile/{{$val.K}}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</section>