<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Profiles
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <table class="table is-fullwidth is-hoverable" id="dataTable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </tfoot>
        <tbody>
        {{range $key, $val := .Data.Records}}
            <tr>
                <td>{{$val.V.Title}}</td>
                <td>{{$val.V.Description}}</td>
                <td>
                    <p class="buttons">
                        <a href="/curity/profiles/{{$val.K}}" class="button is-primary">
                            <span class="icon is-small">
                                <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <a href="#delete" class="button is-danger">
                            <span class="icon is-small">
                                <i class="fas fa-ban"></i>
                            </span>
                        </a>
                    </p>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a href="" class="pagination-previous">Previous</a>
        <a href="" class="pagination-next">Next page</a>
        <ul class="pagination-list">
            <li><a href="./A10" class="pagination-link" aria-label="A10">A</a></li>
            <li><a href="./B10" class="pagination-link is-current" aria-label="B10" aria-current="page">{{.Data.Page}}</a></li>
            <li><a href="./C10" class="pagination-link" aria-label="C10">C</a></li>
        </ul>
    </nav>
</section>