<div class="content">
    <div class="field">
        <div class="control">
            <label class="label">Engine Number of Cylinders</label>
            <label class="label has-text-weight-bold">{{.Data.User.Cylinders}}</label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label">Displacement (CC)</label>
            <label class="label has-text-weight-bold">{{.Data.User.Displacement}}</label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label">Engine Model</label>
            <label class="label has-text-weight-bold">{{.Data.User.EngineModel}}</label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label">Engine Power (KW)</label>
            <label class="label has-text-weight-bold">{{.Data.User.Power}}</label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Fuel Type</label>
            <label class="label has-text-weight-bold">{{.Data.User.Fuel}}</label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Engine Brake (HP)</label>
            <label class="label has-text-weight-bold">{{.Data.User.Horses}}</label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Other Engine Info (RPM)</label>
            <label class="label has-text-weight-bold">{{.Data.User.OtherInfo}}</label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Turbo (Yes/No)</label>
            <label class="label has-text-weight-bold">{{.Data.User.Turbo}}</label>
        </div>
    </div>
</div>