<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle">
                {{ template "_shared/breadcrumbs.html" .}}
            </h2>
            <h1 class="title">
                Profile {{.Data.Title}}
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="tabs is-boxed is-centered main-menu" id="nav">
        <ul>
            <li data-target="paneBasicsite" id="tabBasicsite" class="is-active">
                <a>
                    <span class="icon is-small"><i class="fa fa-image"></i></span>
                    <span>Info</span>
                </a>
            </li>
            <li data-target="paneHeader" id="tabHeader">
                <a>
                    <span class="icon is-small"><i class="fab fa-empire"></i></span>
                    <span>Headers</span>
                </a>
            </li>
            <li data-target="panePortfolio" id="tabPortfolio">
                <a>
                    <span class="icon is-small"><i class="fab fa-superpowers"></i></span>
                    <span>Portfolio</span>
                </a>
            </li>
            <li data-target="paneSocialmedia" id="tabSocialmedia">
                <a>
                    <span class="icon is-small"><i class="fa fa-film"></i></span>
                    <span>Social Media</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane is-active" id="paneBasicsite">
            {{ template "tabBasicsite.html" .}}
        </div>
        <div class="tab-pane" id="paneHeader">
            {{ template "tabHeader.html" .}}
        </div>
        <div class="tab-pane" id="panePortfolio">
            {{ template "tabPortfolio.html" .}}
        </div>
        <div class="tab-pane" id="paneSocialmedia">
            {{ template "tabSocialmedia.html" .}}
        </div>
    </div>
</section>