<section class="container">
        <button class="button is-primary is-small" type="button" id="btnSave">Add Role</button>
    <table class="table is-lined is-bordered is-responsive is-fullwidth">
        <thead>
            <tr>
                <th></th>
                <th>Admin</th>
                <th>Owner</th>
                <th>User</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Admin</th>
                <th>Owner</th>
                <th>User</th>
            </tr>
        </tfoot>
        <tbody>
            {{range $key, $val := .Data.Roles}}
            <tr>
                <td>{{$val.ApplicationName}}</td>
                <td>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" value="Admin" name="answer">
                        </label>
                    </div>
                </td>
                <td>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" value="Owner" name="answer">
                        </label>
                    </div>
                </td>
                <td>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" value="User" name="answer">
                        </label>
                    </div>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</section>

<!--<section class="section">
    <table class="table is-fullwidth is-hoverable" id="dataTable">
        <thead>
            <tr>
                <th>Application</th>
                <th>Permission</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Application</th>
                <th>Permission</th>
            </tr>
        </tfoot>
        <tbody>
            {{range $key, $val := .Data.Roles}}
            <tr>
                <td>{{$val.ApplicationName}}</td>
                <td><select id="ddlRoleType">
                    <option {{if eq (print $val.Description) "0" }} selected {{end}} value="0">Admin</option>
                    <option {{if eq (print $val.Description) "1" }} selected {{end}} value="1">Owner</option>
                    <option {{if eq (print $val.Description) "2" }} selected {{end}} value="2">User</option>
                </select></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</section>-->