<div class="card">
    <h1>Social Media Links</h1>
    <div class="wrapper">
        <div>
            <button type="button" class="btn btn-info btn-sm" id="btnAddSocial">Add Row</button>
        </div>
    </div>
    <div class="wrapper">
        <div class="card">
            <form id="frmSocial" role="form" data-toggle="validator">
                <ul id="lstSocial" class="list-group">
                    {{range $key, $val := .Data.SocialLinks}}
                    <li class="list-group-item" id="liSocial{{$key}}" data-id="{{$val.ID}}">
                        <button type="button" class="fa fa-close close removeRow" data-liID="liSocial{{$key}}"></button>
                        <div class="wrapper">
                            <div class="card">
                                <label for="txtSocialIcon{{$key}}">Icon Name
                                    <i class="fa {{$val.Icon}}"></i>
                                </label>
                                <input class="form-control" type="text" id="txtSocialIcon{{$key}}" required
                                    data-validation-required-message="Please provide the icon's name. See font-awesome for options."
                                    value="{{$val.Icon}}" />
                                    <p class="with-errors text-danger"></p>
                            </div>
                            <div class="card">
                                <label for="txtSocialURL{{$key}}">URL</label>
                                <input class="form-control" type="url" id="txtSocialURL{{$key}}" required
                                    data-validation-required-message="Please enter the social URL."
                                    value="{{$val.URL}}" />
                                    <p class="with-errors text-danger"></p>
                            </div>
                        </div>
                    </li>
                    {{end}}
                </ul>
                <a class="btn btn-secondary" href="/site">Back</a>
                <button type="button" class="btn btn-primary" id="btnSaveSocial">Save</button>
            </form>
        </div>
    </div>
</div>