<div class="content">
    <button type="button" class="button is-info is-small" id="btnAddSocial">Add Row</button>
    <form id="frmSocialmedia" role="form">
        <div class="field">
            <ul>
                {{range $key, $val := .Data.SocialLinks}}
                <li id="liSocial{{$key}}" data-id="{{$val.ID}}">
                    <div class="card">
                        <header class="card-header">
                            <a href="#" data-liID="liSocial{{$key}}" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-close" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                    <div class="field">
                                            <div class="control">
                                                <label class="label" for="txtSocialURL{{$key}}">Icon Name
                                                    <input class="input" type="text" min-length="3" id="txtSocialURL{{$key}}" required
                                                        value="{{$val.URL}}" />
                                                    <p class="help is-danger"></p>
                                            </div>
                                        </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="label" for="txtSocialIcon{{$key}}">Icon Name
                                            <input class="input" type="text" id="txtSocialIcon{{$key}}" required
                                                value="{{$val.Icon}}" />
                                            <p class="help is-danger"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
        <button id="btnSaveSocial" class="button is-block is-success is-large is-fullwidth">Save</button>
    </form>
</div>