<div class="content">
    <div class="field">
        <div class="control">
            <label class="label">Name</label>
            <label class="label has-text-bold">{{.Data.User.Name}}</label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label">Verified</label>
            <label class="label has-text-bold">{{.Data.User.Verified}}</label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label">Email</label>
            <label class="label has-text-bold">{{.Data.User.Email}}</label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label">Last Login</label>
            <label class="label has-text-bold">{{.Data.User.LoginDate}}</label>
        </div>
    </div>
</div>