<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Upload {{.Data.V.Name}}
            </h1>
            <p class="subtitle">
                {{.Data.V.ItemName}} : {{.Data.V.MimeType}}
            </p>
        </div>
    </div>
</section>
<section class="section">
    <div class="content">
        <figure class="figure">
            <img src="https://artifact{{.Oper.Host}}download/{{.Data.K}}" alt="{{.Data.V.Name}}">
        </figure>
    </div>
</section>