<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="../">Secure.API</a></li>
        <li class="is-active"><a href="#" aria-current="page">Users</a></li>
    </ul>
</nav>
<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Users
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <table class="table is-fullwidth is-hoverable" id="dataTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Verified</th>
                <th>Created</th>
                <th>Last Login</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Verified</th>
                <th>Created</th>
                <th>Last Login</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            {{range $key, $val := .Data}}
            <tr>
                <td>{{$val.Name}}</td>
                <td>{{$val.Verified}}</td>
                <td>{{$val.DateCreated}}</td>
                <td>{{$val.Size}}</td>
                <td>
                    <a href="/user/{{$val.Key}}" class="btn btn-primary">View</a>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</section>