{{template "adminpage.html" .}}
{{define "admincontent"}}
    <section class="section">
        <table class="table is-fullwidth is-hoverable" id="dataTable">
            <thead>
            <tr>
                <th>Full VIN</th>
                <th>Manufacturer</th>
                <th>Colour</th>
                <th>Year</th>
                <th>Engine</th>
                <th>Gearbox</th>
                <th>Body style</th>
                <th>Doors</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Full VIN</th>
                <th>Manufacturer</th>
                <th>Colour</th>
                <th>Year</th>
                <th>Engine</th>
                <th>Gearbox</th>
                <th>Body style</th>
                <th>Doors</th>
                <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>
            {{if .Data.Records}}
                {{range $_, $val := .Data.GetRecords.ToSlice}}
                    {{$v := $val.GetValue}}
                    {{$k := $val.GetKey}}
                    <tr>
                        <td>{{$v.FullVIN}}</td>
                        <td>{{$v.Manufacturer}}</td>
                        <td>{{$v.Colour}}</td>
                        <td>{{$v.Year}}</td>
                        <td>{{$v.Engine}}</td>
                        <td>{{$v.Gearbox}}</td>
                        <td>{{$v.BodyStyle}}</td>
                        <td>{{$v.Doors}}</td>
                        <td>
                            <p class="buttons">
                                <a href="/vehicles/{{$k}}" class="button is-primary">
                            <span class="icon is-small">
                                <i class="fas fa-file-alt"></i>
                            </span>
                                </a>
                            </p>
                        </td>
                    </tr>
                {{end}}
            {{end}}
            </tbody>
        </table>
        {{template "pager.html" .Data}}
    </section>
{{end}}