<section class="section">
    <table class="table is-fullwidth is-hoverable" id="dataTable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Written by</th>
            <th>Published</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Title</th>
            <th>Written by</th>
            <th>Published</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        </tfoot>
        <tbody>
        {{range $key, $val := .Records}}
        <tr>
            <td>{{$val}}</td>
            <td>{{$key}}</td>
            <td>
                <p class="buttons">
                    <a href="{{.Name}}/{{$val.K}}" class="button is-primary">
                                <span class="icon is-small">
                                    <i class="far fa-edit"></i>
                                </span>
                    </a>
                    <button data-key="{{.Name}}/{{$val.K}}" class="button is-danger deleter">
                                <span class="icon is-small">
                                    <i class="fas fa-ban"></i>
                                </span>
                    </button>
                </p>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>

</section>