{{template "layout.html" .}}
{{define "mainlayout"}}
    <section class="section">
        <table class="table is-fullwidth is-hoverable" id="dataTable">
            <thead>
            <tr>
                <th>Entity Key</th>
                <th>Total</th>
                <th>Requisitions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Entity Key</th>
                <th>Total</th>
                <th>Requisitions</th>
            </tr>
            </tfoot>
            <tbody>
            {{range $key, $val := .Data.Records}}
                <tr>
                    <td>{{$val.V.EntityKey}}</td>
                    <td>{{$val.V.Total}}</td>
                    <td>{{$val.V.Requisitions}}</td>
                    <td>
                        <p class="buttons">
                            <a href="/funds/accounts/{{$val.V.K}}" class="button is-primary">
                            <span class="icon is-small">
                                <i class="far fa-edit"></i>
                            </span>
                            </a>
                            <button data-key="{{$val.V.K}}" class="button is-danger deleter">
                            <span class="icon is-small">
                                <i class="fas fa-ban"></i>
                            </span>
                            </button>
                        </p>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
        {{template "pager.html" .Data}}
    </section>
{{end}}