<div class="content">
    <form id="frmBasicsite" role="form">
        <div class="field">
            <div class="control">
                <label class="label" for="txtTitle">Vehicle Key</label>
                <input class="input" type="text" id="txtTitle" placeholder="Title" required
                    value="{{.Data.VehicleKey}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtDescription">Year</label>
                <textarea class="textarea" id="txtDescription" placeholder="Description" required cols="40"
                    rows="5">{{.Data.Year}}</textarea>
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtEmail">Mileage</label>
                <input class="input" type="email" id="txtDescription" required value="{{.Data.Mileage}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="txtPhone">Licence Expiry</label>
                <input class="input" type="tel" id="txtDescripion" value="{{.Data.LicenceExpiry}}" />
                <p class="help is-danger"></p>
            </div>
        </div>
    </form>
</div>