<div id="dvCategoryInfo" class="content cc">
    <div class="field">
        <label class="label" for="txtInfoName">Name</label>
        <div class="control">
            <input class="input" type="text" id="txtInfoName" placeholder="Name" required
                   value="{{.Data.Category.Name}}"/>
            <p class="help is-danger"></p>
        </div>
    </div>
    <div class="field">
        <label class="label" for="txtInfoText">Text</label>
        <div class="control">
            <input class="input" type="text" id="txtInfoText" placeholder="Text" required
                   value="{{.Data.Category.Text}}"/>
            <p class="help is-danger"></p>
        </div>
    </div>
    <div class="field">
        <label class="label" for="txtInfoDescription">Description</label>
        <div class="control">
            <input class="input" type="text" id="txtInfoDescription" placeholder="Description" required
                   value="{{.Data.Category.Description}}"/>
            <p class="help is-danger"></p>
        </div>
    </div>
    <div class="field">
        <label class="label" for="txtInfoClient">Client ID</label>
        <div class="control">
            <input class="input" type="text" id="txtInfoClient" placeholder="Client ID (eg. www)" required
                   value="{{.Data.Category.ClientID}}"/>
            <p class="help is-danger"></p>
        </div>
    </div>
    <div class="field">
        <label class="label" for="uplInfoImageImg">Thumbnail</label>
        <div class="control">
            <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" multiple="false" data-for="thumb" data-name="Stock"
                           data-id="{{.Data.Category.ImageKey}}" accept=".jpg, .jpeg, .png"
                           id="uplInfoImageImg"
                           placeholder="Stock Image" {{if eq (print .Data.Category.ImageKey) "0`0" }} required {{end}} />
                    <p class="help is-danger"></p>
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose an image.
                        </span>
                    </span>
                </label>
            </div>
            <input type="image" id="uplInfoImageView"
                   class='image {{if eq (print .Data.Category.ImageKey) "0`0"}} is-hidden {{end}}'
                   src="{{ index .Endpoints "artifact" }}/download/{{.Data.Category.ImageKey}}"
                   alt="profile image"/>
            <p class="help is-danger"></p>
        </div>
    </div>
</div>