<table class="table is-fullwidth is-hoverable" id="dataTable">
    <tbody>
    {{range $key, $val := .}}
        <tr>
            <td>{{$val.Name}}</td>
            <td>
                {{template "tabManufacturer.html" $val.Manufacturers}}
            </td>
            <!--
            <td>
                <p class="buttons">
                    <a href="#" class="button is-primary">
                        <span class="icon is-small">
                            <i class="far fa-edit"></i>
                        </span>
                    </a>
                </p>
            </td>-->
        </tr>
    {{end}}
    </tbody>
</table> 