<h1 class="header">Drive Train</h1>
<div class="content">
    <div class="field">
        <div class="control">
            <label class="label">Drive Type</label>
            <label class="label has-text-weight-bold">{{.Data.User.DriveType}}</label>
        </div>
    </div>
    <h1 class="header">Transmission</h1>
    <div class="field">
        <div class="control">
            <label class="label">Gearbox</label>
            <label class="label has-text-weight-bold">{{.Data.User.Gearbox}}</label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label">Gearbox Speed</label>
            <label class="label has-text-weight-bold">{{.Data.User.GearboxSpeed}}</label>
        </div>
    </div>
</div>