<div class="content">
    <div class="field">
        <div class="control">
            <label class="label">Name</label>
            <label class="label has-text-weight-bold">{{.Data.User.Name}}</label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label">Manufacturer Name</label>
            <label class="label has-text-weight-bold">{{.Data.User.manufacturerName}}</label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label">Model</label>
            <label class="label has-text-weight-bold">{{.Data.User.Model}}</label>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="label">Plant City</label>
            <label class="label has-text-weight-bold">{{.Data.User.LoginDate}}</label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Trim</label>
            <label class="label has-text-weight-bold">{{.Data.User.Trim}}</label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Vehicle Type</label>
            <label class="label has-text-weight-bold">{{.Data.User.VehicleType}}</label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Plant Country</label>
            <label class="label has-text-weight-bold">{{.Data.User.PlantCountry}}</label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Plant Company Name</label>
            <label class="label has-text-weight-bold">{{.Data.User.PlantCompanyName}}</label>
        </div>
    </div>
</div>