<section class="container">
    <button class="button is-primary is-small" type="button" id="btnAddRole">Add Role</button>
    <table class="table is-lined is-bordered is-responsive is-fullwidth">
        <thead>
        <tr>
            <th>Application</th>
            <th>Admin</th>
            <th>Owner</th>
            <th>User</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Application</th>
            <th>Admin</th>
            <th>Owner</th>
            <th>User</th>
        </tr>
        </tfoot>
    </table>
</section>
{{template "addRoleadd.html" .}}