<div class="field">
    <div class="control">
        <label class="label" for="txtCode"> Code </label>
        <input class="input" type="text" id="txtCode" placeholder="Code" required />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtSerialNo">
            <input type="input" type="text" id="txtSerialNo" placeholder="SerialNo" required/>
            SerialNo </label>
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="numGears"> Gears </label>
        <input class="input" type="number" step="1" min="1" id="numGears" required
              />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtType"> Type </label>
        <input class="input" type="text" id="txtType" placeholder="Type" required/>
        <p class="help is-danger"></p>
    </div>
</div>