<input class="input" type="hidden" id="hdnVINKEy" /> 
<div class="field">
    <div class="control">
        <label class="label" for="txtFullVIN">FullVIN</label>
        <input class="input" type="text" id="txtFullVIN" placeholder="FullVIN" required
                />
        <p class="help is-danger"></p>
        <button type="button" id="btnVerify">Verify</button>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtColour">Colour</label>
        <input class="input" type="text" id="txtColour" placeholder="Colour" required
        />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtPaintNo">PaintNo</label>
        <input class="input" type="text" id="txtPaintNo" placeholder="PaintNo" required />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="cboBodyStyle">BodyStyle</label>
        <select class="select" id="cboBodyStyle">
            <option  value="Bus">Bus</option>
            <option  value="Cabriolet">Cabriolet
            </option>
            <option  value="Coupe">Coupe</option>
            <option  value="DoubleCabBakkie">DoubleCabBakkie</option>
            <option  value="Dropside">Dropside</option>
            <option  value="Hatchback">Hatchback</option>
            <option  value="MPV">MPV</option>
            <option value="PanelVan">PanelVan</option>
            <option  value="SUV">SUV</option>
            <option  value="Sedan">Sedan</option>
            <option  value="SingleCabBakkie">SingleCabBakkie</option>
            <option value="StationWagon">StationWagon</option>
        </select>
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="numDoors">Doors</label>
        <input class="input" type="number" min="2" max="5" id="numDoors" required
                />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="chkSpare">Spare Key</label>
        <input class="input" type="checkbox" id="chkSpare"  required
                />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="chkService">Service History</label>
        <input class="input" type="checkbox" id="chkService" required />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtCondition">Condition</label>
        <input class="input" type="text" id="txtCondition" placeholder="Condition" required />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtIssues">Issues</label>
        <input class="input" type="text" id="txtIssues" placeholder="Issues" required />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="numMileage">Mileage</label>
        <input class="input" type="number" min="1" max="9999999" id="numMileage" required />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtInfo">Info</label>
        <input class="input" type="text" id="txtInfo" placeholder="Info" required />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="numYear">Year</label>
        <input class="input" type="number" min="1900" max="2200" id="numYear" required />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="chkHasNatis">HasNatis</label>
        <input class="input" type="checkbox" id="chkHasNatis" required />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="numEstValue">EstValue</label>
        <input class="input" type="number" min="1"  id="numEstValue" required />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="numLicenseExpiry">LicenseExpiry</label>
        <input class="input" type="date" min="1"  id="numLicenseExpiry" required />
        <p class="help is-danger"></p>
    </div>
</div>