<div class="field">
    <div class="control">
        <label class="label" for="txtCode">Code</label>
        <input class="input" type="text" id="txtCode" placeholder="Code" required
              />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtSerialNo">
            <input type="input" type="text" id="txtSerialNo" placeholder="SerialNo" required/>
            SerialNo</label>
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="numOutput">Output</label>
        <input class="input" type="number" step="1" min="1" id="numOutput" required
              />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtFuel">Fuel</label>
        <input class="input" type="text" id="txtFuel" placeholder="Fuel" required/>
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtDisplacement">Displacement</label>
        <input class="input" type="text" id="txtDisplacement" placeholder="Displacement" required/>
        <p class="help is-danger"></p>
    </div>
</div>
