<div class="field">
    <div class="control">
        <label class="label" for="txtModel">Model</label>
        <input class="input" type="text" id="txtModel" placeholder="Model" required
              />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtManufacturer">
            <input type="input" type="text" id="txtManufacturer" placeholder="Manufacturer" required/>
            Manufacturer</label>
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtAssemblyPlant">AssemblyPlant</label>
        <input class="input" type="text" id="txtAssemblyPlant" placeholder="AssemblyPlant" required
               />
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="numMonth">Month</label>
        <input class="input" type="number" step="1" min="1" max="12" id="numMonth" placeholder="1" required/>
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="numYear">Year</label>
        <input class="input" type="number" min="1900" max="2200" id="numYear" placeholder="Year" required/>
        <p class="help is-danger"></p>
    </div>
</div>
<div class="field">
    <div class="control">
        <label class="label" for="txtTrim">Trim</label>
        <input class="input" type="text" id="txtTrim" placeholder="Trim" required/>
        <p class="help is-danger"></p>
    </div>
</div>
